body {
   background: linear-gradient(135deg, #000000, #000000);
}


h1{
    text-align: center;
    margin: 40px 0 40px;
    font-size: 30px;
    color: rgb(112, 45, 45)
    font-family-'cherry swash', cursive;
    font-size:16px;
}
nav{
    margin: 81px auto 0;
    position:relative;
    width: 847px;

height: 50px;

background-color:rgba(41, 38, 38, 0.5);

border-radius: 8px;

font-size: 0;



}



nav a { 
width: 100px;
line-height: 50px;
height: 50px;
font-size: 25px;
display: inline-block;
position: relative;
z-index: 1;
text-decoration: none;
text-transform: uppercase;
text-align: center;
color: white;
cursor: pointer;
box-sizing: border-box;

}
nav .animation{
position: absolute;
height:100%;
top: 0;
z-index: 0;
transition: all .5s ease 0s;
border-radius: 8px;
  
}
a:nth-child(1) {
width:150px;
}

a:nth-child(2){
width:525px;
}
 

a:nth-child(3){
width: 160px;

}


nav .start-noticias, a:nth-child(1):hover~.animation{
width:250px;
left: 0;
background-color: #ff1500; }


nav .start-leyendas, a:nth-child(2):hover~.animation{
width: 228px;
left: 300px;
background-color: #fd0000; }


nav .start-novedades, a:nth-child(3):hover~.animation{
width: 247px;
left: 600px;
background-color: #ff0000;
   }